{% extends 'user/base.html' %}

{% block userinfo %}
	<ul class="nav navbar-nav navbar-left">
		<li class="active"><a href="/bbs/Uinfo/{{ Gusername }}/">用户信息</a></li>
		<li><a href="/bbs/Uinfo/{{ Gusername }}/MyTips/">用户帖子</a></li>
		<li><a href="/bbs/Uinfo/{{ Gusername }}/MyComments/">用户评论</a></li>
	</ul>
{% endblock %}
{% block page-content %}
    {% if not BBSUser_obj %}
        <p>用户名:{{ Gusername }} 不存在，请重新检查或跳转到 <a href="/bbs/Uinfo/{{ user.username }}/">自己</a>页面</p>
    {% else %}
        {% ifequal user.username Gusername %}
        <div class="col-md-6">
        <form class="form-horizontal  form-signin" role="form" method="post" action="/bbs/Uinfo_modify/" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                <label for="inputname" class="col-sm-4 control-label">用户名</label>
                <div class="col-sm-8" >
                    <p class="form-control-static">{{ BBSUser_obj.username.username }}</p>
                    <input class="hidden" name="username" value="{{ BBSUser_obj.username.username }}" />
                </div>
                    <div style='height:10px;clear:both;display:block'></div>
                <label for="inputphoto" class="col-sm-4 control-label">头像</label>
                <div class="col-sm-8" >
                    <img width="64" height="64" class="img-rounded pull-right" alt="head_photo" src="/Templates/bbs/{{ BBSUser_obj.photo}}" ></img>
                    <input type="file" id="Cphoto_id" name="photo" class="col-sm-8"/>
                </div>
                    <div style='height:10px;clear:both;display:block'></div>
                <label for="inputemail" class="col-sm-4 control-label">邮箱</label>
                <div class="col-sm-8" >
                    <input type="text" id="Cemail_id" name="email" class="form-control" value="{{ BBSUser_obj.username.email }}">
                </div>
                    <div style='height:10px;clear:both;display:block'></div>
                <label for="inputNewpassword" class="col-sm-4 control-label">新密码</label>
                <div class="col-sm-8" >
                    <input type="password" id="Cpasswd1_id" name="password" class="form-control"/>
                </div>
                    <div style='height:10px;clear:both;display:block'></div>
                <label for="CheckNewPasswd" class="col-sm-4 control-label">确认密码</label>
                <div class="col-sm-8" >
                    <input type="password" id="Cpasswd2_id" name="password2" class="form-control"/>
                </div>
                    <div style='height:10px;clear:both;display:block'></div>
                <label for="CheckNewPasswd" class="col-sm-4 control-label">签名</label>
                <div class="col-sm-8" >
                    <textarea id="Csignature_id" name="signature" class="form-control" >{{ BBSUser_obj.signature }}</textarea>
                </div>
                    <div style='height:10px;clear:both;display:block'></div>
                <button class="btn btn-success btn-lg col-sm-offset-4 col-sm-8" type="submit"/>确认更改</button>
            </div>
        </form> 
        </div>
        {% else%}
        <div class="col-md-6">
        <ul>
            <p>
            <img width="64" height="64" class="img-rounded" alt="head_photo" src="/Templates/bbs/{{ BBSUser_obj.photo}}" ></img>
            </p>
            <li>用户名: {{ BBSUser_obj.username.username }}</li>
            <li>邮箱: {{ BBSUser_obj.username.email }}</li>
            <li>签名: {{ BBSUser_obj.signature }}</li>
        </ul>
        </div>
        {% endifequal %}
    {% endif %}
{% endblock %}